In [1]:
import pandas as pd
from django.utils.text import slugify
from numpy.random import randint
import random
import os

In [2]:
df1 = pd.read_csv("../webdjango/tmdb_5000_credits.csv")
df2 = pd.read_csv("../webdjango/tmdb_5000_movies.csv")
df1.columns = ["id", "tittle", "cast", "crew"]
df = df2.merge(df1, on="id")

In [3]:
image_paths = os.listdir("../webdjango/media/products/initial")

In [10]:
print(image_paths)

['1.6_245943.jpg', '1.6_56415.jpg', '1.9_270846.jpg', '1.9_60666.jpg', '1.9_96870.jpg', '11496.jpg', '11923.jpg', '11949.jpg', '12847.jpg', '12882.jpg', '12958.jpg', '12966.jpg', '13198.jpg', '13343.jpg', '13359.jpg', '13552.jpg', '13555.jpg', '13682.jpg', '14431.jpg', '15526.jpg', '15543.jpg', '15714.jpg', '16732.jpg', '17019.jpg', '18171.jpg', '18403.jpg', '18546.jpg', '19329.jpg', '19387.jpg', '2.1_339034.jpg', '2.1_68291.jpg', '2.1_81693.jpg', '2.1_88925.jpg', '2.2_118589.jpg', '2.2_55946.jpg', '2.2_57181.jpg', '2.2_71198.jpg', '2.2_93405.jpg', '2.3_118836.jpg', '2.3_61765.jpg', '2.3_82815.jpg', '2.4_109376.jpg', '2.4_114658.jpg', '2.4_116839.jpg', '2.4_117550.jpg', '2.4_185183.jpg', '2.4_223250.jpg', '2.4_299930.jpg', '2.4_54673.jpg', '2.4_56600.jpg', '2.4_73396.jpg', '2.5_168172.jpg', '2.6_116165.jpg', '2.6_118665.jpg', '2.7_110629.jpg', '2.7_326820.jpg', '2.7_360916.jpg', '2.7_51134.jpg', '2.7_93072.jpg', '2.8_101615.jpg', '2.8_113449.jpg', '2.8_116756.jpg', '2.8_118539.jpg', '2.8_120598.jpg', '2.8_121261.jpg', '2.8_266747.jpg', '2.8_46213.jpg', '2.8_54240.jpg', '2.8_73043.jpg', '2.8_99030.jpg', '2.9_115834.jpg', '2.9_49922.jpg', '2.9_77942.jpg', '2.9_93300.jpg', '20779.jpg', '20868.jpg', '20923.jpg', '21181.jpg', '22101.jpg', '22361.jpg', '22501.jpg', '23129.jpg', '23132.jpg', '23249.jpg', '23825.jpg', '23848.jpg', '24098.jpg', '24409.jpg', '24695.jpg', '24874.jpg', '24943.jpg', '25490.jpg', '25520.jpg', '2611.jpg', '26553.jpg', '26598.jpg', '2694.jpg', '27081.jpg', '2720.jpg', '2820.jpg', '28638.jpg', '28653.jpg', '28662.jpg', '2901.jpg', '29150.jpg', '29166.jpg', '29176.jpg', '3.0_104837.jpg', '3.0_121262.jpg', '3.0_213802.jpg', '3.0_223249.jpg', '3.0_246894.jpg', '3.0_81027.jpg', '3.0_84796.jpg', '3.0_91934.jpg', '3.0_92532.jpg', '3.1_110647.jpg', '3.1_223251.jpg', '3.1_82213.jpg', '3.2_113438.jpg', '3.2_115624.jpg', '3.2_165494.jpg', '3.2_28174.jpg', '3.2_47127.jpg', '3.2_83170.jpg', '3.2_99969.jpg', '3.3_110857.jpg', '3.3_250282.jpg', '3.3_295254.jpg', '3.3_295427.jpg', '3.3_327554.jpg', '3.3_52846.jpg', '3.3_59878.jpg', '3.3_85518.jpg', '3.3_93516.jpg', '3.3_97371.jpg', '3.4_103617.jpg', '3.4_106402.jpg', '3.4_113043.jpg', '3.4_120185.jpg', '3.4_120389.jpg', '3.4_275022.jpg', '3.4_329028.jpg', '3.4_78062.jpg', '3.4_89308.jpg', '3.4_95334.jpg', '3.4_96804.jpg', '3.5_106521.jpg', '3.5_115976.jpg', '3.5_50177.jpg', '3.5_53611.jpg', '3.5_80771.jpg', '3.5_84316.jpg', '3.5_84472.jpg', '3.5_84485.jpg', '3.5_87700.jpg', '3.5_94077.jpg', '31091.jpg', '31104.jpg', '31114.jpg', '31119.jpg', '31147.jpg', '31148.jpg', '31154.jpg', '31168.jpg', '31178.jpg', '3167.jpg', '32552.jpg', '32757.jpg', '32812.jpg', '32846.jpg', '3301.jpg', '33108.jpg', '33266.jpg', '33648.jpg', '33766.jpg', '34008.jpg', '34014.jpg', '34024.jpg', '34044.jpg', '34066.jpg', '34118.jpg', '34155.jpg', '34165.jpg', '34181.jpg', '34188.jpg', '34835.jpg', '34861.jpg', '35432.jpg', '35435.jpg', '35452.jpg', '3556.jpg', '3569.jpg', '35874.jpg', '35882.jpg', '36131.jpg', '36718.jpg', '36719.jpg', '36720.jpg', '36727.jpg', '37167.jpg', '37248.jpg', '37568.jpg', '37596.jpg', '38283.jpg', '38288.jpg', '38480.jpg', '38501.jpg', '3855.jpg', '38868.jpg', '38905.jpg', '3893.jpg', '38932.jpg', '38954.jpg', '38996.jpg', '39315.jpg', '39333.jpg', '39582.jpg', '39601.jpg', '39607.jpg', '39742.jpg', '39830.jpg', '39839.jpg', '39847.jpg', '39851.jpg', '39973.jpg', '40124.jpg', '40158.jpg', '40923.jpg', '40943.jpg', '40980.jpg', '40988.jpg', '40991.jpg', '41234.jpg', '4170.jpg', '41725.jpg', '41752.jpg', '41985.jpg', '41986.jpg', '41987.jpg', '41994.jpg', '42017.jpg', '4204.jpg', '42276.jpg', '42583.jpg', '43871.jpg', '44216.jpg', '44517.jpg', '44749.jpg', '44783.jpg', '4525.jpg', '45383.jpg', '45384.jpg', '45407.jpg', '45802.jpg', '46087.jpg', '46612.jpg', '46834.jpg', '4718.jpg', '4729.jpg', '47612.jpg', '47640.jpg', '49582.jpg', '50720.jpg', '50777.jpg', '5343.jpg', '53732.jpg', '53870.jpg', '54111.jpg', '54117.jpg', '54127.jpg', '54145.jpg', '5417.jpg', '5608.jpg', '56871.jpg', '56879.jpg', '56904.jpg', '56972.jpg', '56995.jpg', '57011.jpg', '58327.jpg', '59050.jpg', '5917.jpg', '5928.jpg', '7595.jpg', '7730.jpg', '7843.jpg', '8175.jpg', '8320.jpg', '8381.jpg', '8383.jpg', '8384.jpg', '8528.jpg', '8542.jpg', '8574.jpg', '9038.jpg', '9055.jpg', '9118.jpg', '9430.jpg', '9497.jpg']

In [7]:
%%capture
df = df.head(100)
df = df[["title", "overview"]]
df["category"] = 3
df["subCategory"] = randint(1, 5, size=len(df))
df["price"] = randint(10, 500, size=len(df))*1000
df["stock"] = 100
df["available"] = True
df["image"] = image_paths
df["slug"] = df["title"].apply(slugify)
df["image"] = df["image"].apply(lambda x: os.path.join("products/initial", x))
## change title to name
df = df.rename(columns={"title": "name"})
## rename overview to description
df = df.rename(columns={"overview": "description"})

ValueError: Length of values (300) does not match length of index (100)

In [8]:
df.head()

,title,overview,category,subCategory,price,stock,available
0,Avatar,"In the 22nd century, a paraplegic Marine is di...",1,4,498000,100,True
1,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",1,4,46000,100,True
2,Spectre,A cryptic message from Bond’s past sends him o...,1,4,178000,100,True
3,The Dark Knight Rises,Following the death of District Attorney Harve...,1,3,47000,100,True
4,John Carter,"John Carter is a war-weary, former military ca...",1,1,474000,100,True

In [9]:
class Product:
    def __init__(self, fields):
        self.model = "shop.Product"
        self.fields = fields.to_dict()

products = []
for i, row in df.iterrows():
    products.append(Product(row).__dict__)

import json

with open("../webdjango/shop/fixtures/movies.json", "w") as f:
    json.dump(products, f, indent=4)